bin/
obj/
logs/
ServiceHub.sln.DotSettings

/packages/AmplifyJS.1.1.0
/packages/DotNetOpenAuth.Core.4.1.4.12333
/packages/Async.js.0.1.22
/packages/AutoMapper.2.2.0
/packages/Blend.Interctivity.WPF.v4.0.1.0.2
/packages/Breeze.MVC4WebApi.0.84.1
/packages/Breeze.MVC4WebApiClientSample.0.84.1
/packages/Breeze.WebApi.1.1.2
/packages/dotless.1.3.1.0
/packages/DotNetOpenAuth.AspNet.4.1.4.12333
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333
/packages/DotNetOpenAuth.OpenId.Core.4.1.4.12333
/packages/DotNetOpenAuth.OpenId.RelyingParty.4.1.4.12333
/packages/Durandal.1.1.1
/packages/Durandal.Router.1.1.1
/packages/Durandal.StarterKit.1.1.1
/packages/Durandal.Transitions.1.1.1
/packages/DotNetOpenAuth.Core.4.1.4.12333
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333
/packages/elmah.1.2.2
/packages/elmah.corelibrary.1.2.2
/packages/JasmineTest.1.3.1
/packages/elmah.sqlservercompact.1.2
/packages/EntityFramework.5.0.0
/packages/FontAwesome.3.0.2.3
/packages/HotTowel.1.0.4
/packages/infuser.0.2.1
/packages/knockoutjs.2.2.1
/packages/jQuery.1.7.1.1
/packages/jQuery.1.9.1
/packages/jQuery.UI.Combined.1.8.20.1
/packages/jQuery.UI.Combined.1.10.2
/packages/jQuery.Validation.1.9.0.1
/packages/jQuery.Validation.1.11.1
/packages/json2.1.0.2
/packages/Knockout.js_External_Template_Engine.2.0.5
/packages/Knockout.Validation.1.0.1
/packages/knockoutjs.2.1.0
/packages/Microsoft.AspNet.Providers.LocalDB.1.1
/packages/Microsoft.AspNet.Razor.2.0.20710.0
/packages/Microsoft.AspNet.Razor.2.0.20715.0
/packages/Microsoft.AspNet.Web.Optimization.1.0.0
/packages/KoLite.1.1.0
/packages/log4net.2.0.0
/packages/Microsoft.AspNet.Mvc.4.0.20710.0
/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.1
/packages/Microsoft.AspNet.Providers.1.2
/packages/Microsoft.AspNet.Providers.Core.1.1
/packages/Microsoft.AspNet.Providers.Core.1.2
/packages/Microsoft.AspNet.WebPages.OAuth.2.0.20710.0
/packages/Microsoft.AspNet.WebPages.WebData.2.0.20710.0
/packages/Microsoft.AspNet.WebApi.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.HelpPage.0.3.0-rc
/packages/Microsoft.AspNet.WebApi.OData.0.3.0-rc
/packages/Microsoft.AspNet.WebApi.OData.4.0.0
/packages/Microsoft.AspNet.WebApi.Tracing.0.3.0-rc
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
/packages/Microsoft.AspNet.WebPages.2.0.20710.0
/packages/Microsoft.AspNet.WebPages.Data.2.0.20710.0
/packages/Microsoft.SqlServer.Compact.4.0.8876.1
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Data.Edm.5.2.0
/packages/Microsoft.Data.Edm.5.2.0-rc1
/packages/Microsoft.Data.OData.5.2.0
/packages/Microsoft.Data.OData.5.2.0-rc1
/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.30116.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.30116.0
/packages/Microsoft.Net.Http.2.0.20710.0
/packages/Ninject.Web.Common.3.0.0.7
/packages/Modernizr.2.5.3
/packages/Modernizr.2.6.2
/packages/Moment.js.2.0.0
/packages/Moq.4.0.10827
/packages/MSBuild.Extension.Pack.1.1.0
/packages/MSBuildTasks.1.4.0.56
/packages/Newtonsoft.Json.4.5.10
/packages/Newtonsoft.Json.4.5.11
/packages/Newtonsoft.Json.5.0.3
/packages/Ninject.3.0.1.10
/packages/ninject.extensions.conventions.3.0.0.11
/packages/Ninject.MVC3.3.0.0.6
/packages/sugarjs.1.3.9
/packages/NuGetEnablePackageRestore.2.0.0
/packages/NUnit.2.6.2
/packages/RequireJS.2.1.5
/packages/routedebugger.2.1.4.0
/packages/RouteMagic.1.2
/packages/RouteMagic.Mvc.1.2
/packages/Sammy.js.0.7.4
/packages/SqlServerCompact.4.0.8854.1
/packages/System.Spatial.5.2.0
/packages/System.Spatial.5.2.0-rc1
/packages/toastr.1.1.5
/packages/toastr.1.2.2
/packages/TrafficCop.0.3.1
/packages/Twitter.Bootstrap.2.3.0
/packages/Twitter.Bootstrap.2.3.1
/packages/underscore.js.1.4.4
/packages/WebActivator.1.5.3
/packages/WebGrease.1.1.0
/packages/WebGrease.1.3.0
/desktop.ini

/_ReSharper.ServiceHub

