<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
<!--    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    <contexts>
      <context type="ServiceHub.DataAccess.Context, ServiceHub.DataAccess">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[ServiceHub.DataAccess.Context, ServiceHub.DataAccess], [ServiceHub.DataAccess.Migrations.Configuration, ServiceHub.DataAccess]], EntityFramework" />
      </context>
    </contexts>
  
  </entityFramework>
  <connectionStrings>


    <!--SQL Server-->
    <!--we don't name the database in the connection string (after the Server=... bit) 
        so it takes the name attribute value (ServiceHub.DataAccess.Context)
        This is to avoid the DB being named wrongly - Update-Database uses the name attribute in any case
        while launching the web app would have used the other value
    
    -->
    <add name="ServiceHub.DataAccess.Context" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=ServiceHub;Trusted_Connection=True;" />

    <!--SQL compact-->
    <!--    <add name="ServiceHub.DataAccess.Context"  providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|\ServiceHub.sdf" />-->

    <add name="elmah-sqlservercompact" connectionString="Data Source=|DataDirectory|\Elmah.sdf" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>