<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--defines the interval (in seconds) between checks of windows service status-->
    <add key="MonitorInterval" value="15"/>
    <!--the location of the WebApi service that provides config data for teh application -->
    <add key="DataServiceBaseUrl" value="http://localhost/servicehub/"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name="System.Windows.Data" switchName="mySwitch">
        <listeners>
          <add name="textListener"/>
          <add name="xmlListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="mySwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="None" initializeData="xmlTrace.xml"/>
      <!-- This listener sends output to a file named textTrace.txt -->
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="textTrace.txt"/>
    </sharedListeners>
  </system.diagnostics>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
