<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteUrlTest" value="http://localhost/ServiceHub.DataService.WebAPI.Test"/>
    <add key="SiteUrlStaging" value="http://localhost/ServiceHub.DataService.WebAPI.Staging"/>
    <add key="SiteUrlProduction" value="http://localhost/ServiceHub.DataService.WebAPI.Production"/>
  </appSettings>
</configuration>