<header>

    <div class="row">
        <h1 class="span12"><a href="#/" id="link-home">@Page.title</a></h1>
    </div>

    <div class="row">
        <div class="span12">

            <div class="row">
                <nav id="shell-top-view" class="main-nav">
                    <ul data-bind="with: menuHashes" class="">

                        <li class="span2 route-top"><a data-bind="attr: { href: machines }">Machines</a></li>
                        <li class="span2 route-top"><a data-bind="attr: { href: services }">Services</a></li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>


</header>
