<section id="credentials-view" class="view">

    <ul data-bind="foreach: credentials">


        <li class="credential">

            <form>

                <label for="un">Username: </label>
                <input id="un" type="text" data-bind="value: Username" placeholder="username" />


                <label for="pw">Password: </label>
                <input id="pw" type="text" data-bind="value: Password" placeholder="password" />

       
            </form>
        </li>

    </ul>


</section>
