<section id="services-view" class="view">

    <ul data-bind="foreach: services">


        <li class="service">

            <form>

                <label for="sn">Name: </label>
                <input id="sn" type="text" data-bind="value: ServiceName" placeholder="service name" />


                <label for="fn">Friendly name: </label>
                <input id="fn" type="text" data-bind="value: FriendlyName" placeholder="friendly name" />

                <label for="en">Executable name: </label>
                <input id="en" type="text" data-bind="value: ExecutableName" placeholder="executable name" />

            </form>
        </li>

    </ul>


</section>
